<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.yesalam.acquaint">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/LoginTheme">
        </activity>
        <activity android:name=".Activity.CaseActivity"></activity>
        <activity android:name=".Activity.InvestigationActivity">

        </activity>
        <activity
            android:name=".Activity.IndiCaseActivity"
            android:parentActivityName=".Activity.CaseActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.yesalam.acquaint.Activity.CaseActivity" />
        </activity>
        <activity android:name=".Activity.CoApplicantDialog"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".Activity.IndiCaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.yesalam.acquaint.Activity.IndiCaseActivity" />
        </activity>
        <activity android:name=".Activity.CreateCaseDialog"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".Activity.CaseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.yesalam.acquaint.Activity.CaseActivity" />
        </activity>
        <activity android:name=".Activity.FieldInvestigationDialog"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".Activity.InvestigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.yesalam.acquaint.Activity.InvestigationActivity" />
        </activity>
        <activity android:name=".Activity.TeleVerificationDialog"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".Activity.InvestigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.yesalam.acquaint.Activity.InvestigationActivity" />
        </activity>
        <activity android:name=".Activity.FieldInvestigationOfficeDialoog"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".Activity.InvestigationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.yesalam.acquaint.Activity.InvestigationActivity" />
        </activity>
    </application>

</manifest>